@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <form class="row row-cols-lg-auto g-3">
        <div class="col">
            <label class="visually-hidden" for="inline-form-name">Адрес</label>
            <input type="text" class="form-control" id="inline-form-name" placeholder="Адрес">
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Submit Form</button>
        </div>
    </form>
</div>
<div class="container">
    <div id="map" style="width: 100%; height: 70vh;"></div>
</div>
