@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row mb-3">
        <div class="col">
            <form id="geocodeForm" class="row">
                <div class="col">
                    <label class="visually-hidden" for="inline-form-address">Адрес</label>
                    <input type="text" class="form-control" id="inline-form-address" name="address" placeholder="Адрес">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">Поставить точку</button>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-3">
            <ul class="list-group" id="points">
                <li class="list-group-item disabled"><b>Метки на карте</b></li>
            </ul>
        </div>
        <div class="col-9" id="map" style="width: 50vw; height: 600px"></div>
    </div>
    
</div>
